.header-items p {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.header-items p:hover {
  color: red;
  transform: translateY(5px) scale(1.1);
}
